body {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    background-color: #F6FDD0;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%); /* Firefox */
    -ms-transform: translate(-50%, -50%);  /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Safari and Chrome*/
    -o-transform: translate(-50%, -50%); /* Opera */
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 45vh;

    width: 60%;
    background-color: #64796C;
    border-radius: 30px;
}
.right, .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
}
.center {
    width: 1px;
    background-color: #F6FDD0;
    position: absolute;
    padding-bottom: 60%;
}
.header {
    font-size: 160%;
    font-weight: bolder;
    display: block;
    margin-bottom: 20px;
    color: #F6FDD0;
}
.right-inner, .left-inner {
    margin: 20px;
    color: #f6fdf0;
}
.buttons {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
a.button, button {
    text-decoration: none;
    padding: 5px;
    margin: auto 40px;
    background-color: #F6FDD0;
    border-radius: 10px;
    color: #64796C;
    font-size: 110%;
}

.simple-input {
    background-color: #f6fdf0;
    border: none;
    border-radius: 10px;
    padding: 3px 3px 3px 5px;
    color: #64796C;
}
.form-element {
    margin: 10px;
}
button {
    margin-top: 10px;
    border: none;
    width: 60%;
    cursor: pointer;
}
.register {
    width: 40%;
    padding: 20px;
}
.main-text {
    font-size: 110%;
    color: #f6fdf0;
}
.signed-labels {
    color: #F6FDD0;
    font-size: 105%;
    padding-bottom: 2px;
}